body{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#1F2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    color: #fac650;
    background-color: #111720;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    flex: 1;
}
.widgets{
    background-color: #111720;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.color-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#colorPicker{
    height: 100px;
    width: 100px;
    padding: 0px;
    border-style: none;
    background-color:transparent;
}
.slider-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.color-container p, .slider-container p{
    font-size: 20px;
    color: #fac650;
}


#clear{
    padding: 10px 80px;
    font-size: 20px;
    color: #fac650;
    border: 2px solid #fac650;
    background-color: transparent;
}
#clear:hover{
    background-color:#1F2937;
}

.sketchpad{
    background-color: #111720;
    width:520px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rows{
    display: flex;
}
.grid{
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7ebb4;
    padding: 16px;
}
.footer h2{
    margin: 0;
    padding: 0;
    font-size: 16px;

}
.footer a{
    text-decoration: none;
    color: white;
}
#github-logo{
    height: 15px;
    margin: 0 10px;
}